.dialog-content {
    background-color: #e7e7e7;
    padding: 20px;
    border-radius: 10px;
  }
  
  .dialog-content h1, .dialog-content h2 {
    color: #0f488d;
  }
  
  .dialog-content p {
    color: #242e31;
  }