<mat-sidenav-container class="sidenav-container">
    <mat-sidenav #sidenav class="sidenav" mode="side" opened>
      <br>
      <br>
    
      
        <h1>Menu</h1>
        <br>
        <br>
        <br>
        
      <mat-nav-list>
        <a mat-list-item routerLink="/home">
          <mat-icon>home</mat-icon> 
          <span>Home</span>
         
        </a>
        <mat-divider></mat-divider> 
        <a mat-list-item routerLink="/create">
          <mat-icon>add_circle</mat-icon> 
          <span>Ajouter Annonce</span> 
         
        </a>
        <mat-divider></mat-divider>
        <a mat-list-item routerLink="/liste-annonce">
          <mat-icon>search</mat-icon>
          <span>Rechercher Annonce</span>
        
        </a>
      <mat-divider></mat-divider> 
      <a mat-list-item routerLink="/adminview">
        <mat-icon>dashboard</mat-icon> 
        <span>Admin View</span>
      </a>
      <mat-divider></mat-divider> 
      <a mat-list-item routerLink="/annonces">
        <mat-icon>table_chart</mat-icon> 
        <span>Annonces</span>
      
      </a>
        
      </mat-nav-list>
    </mat-sidenav>
  
    <mat-toolbar>
      <mat-toolbar-row>
        <a href="#" (click)="sidenav.toggle(); $event.preventDefault()">
          <mat-icon>menu</mat-icon>
        </a>
        <span class="spacer"></span>
        
      </mat-toolbar-row>
    </mat-toolbar>
    <router-outlet></router-outlet>
  </mat-sidenav-container>
  

  
  
  