.welcome-message {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2; /* Ensure the message is above other elements */
    text-align: center;
    font-size:xx-large ;
    color: #f3f2f2;
    font-family: 'Courier New', Courier, monospace;
  }