<div class="container">
  <div class="welcome-message">Bienvenue dans notre site web </div>
  <img src="./assets/home.jpg" style="
  position: relative;
  width: 100%; /* Cover the full width of the container */
  height: 100%; /* Cover the full height of the container */
  object-fit: cover;
  align-items: center;
  z-index: 1;"/>
</div>
  
  <div style="
  position: absolute ;
  left: 50px;
  top: 25%;
  transform: translateY(-50%);
  font-size: 25px;  /* Increase this value to make the text larger */
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: rgb(39, 83, 196);
  padding: 170px;
  z-index: -1;
  text-align: center">
   Bienvenue sur Carpooling
</div>